﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/CSS/VNexpress.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title>VnExpress</title>
</head>
<body>
    <div class="empty">  </div>
    <div class="top_bar">
        <div class="main_bar">
            <div class="content_left">
                <img src="~/Image/vnexpress-net-seeklogo.svg" />
                <span class="time-now">Thứ ba, 27/2/2024</span> |
                <p>TP HCM</p> |
                <p>29°C</p>

            </div>
            <div class="content_center">
                <p>Mới Nhất</p> |
                <p>Tin theo khu vực</p> |
                <p>International</p> |
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Search..." />
                <img src="~/Image/kisspng-computer-icons-transparency-login-vector-graphics-account-summary-svg-png-icon-free-download-31985-5d01350d2ebe54.3729985115603602051915.png"  width="20" height="20" />
                <p>Đăng Nhập</p>

            </div>
        </div>
    </div>
    <hr />
    <nav class="main-nav">
        <ul class="parent">
            <li class="Home_btn">
                <img src="~/Image/toppng.com-house-outline-svg-png-icon-free-download-house-outline-980x922.png" width="20" height="20" />
            </li>
            <li>Thời sự</li>
            <li>Góc nhìn</li>
            <li>Thế giới</li>
            <li>Video</li>
            <li>Podcast</li>
            <li>Kinh doanh</li>
            <li>Bất động sản</li>
            <li>Khoa học</li>
            <li>Giải trí</li>
            <li>Thể Thao</li>
            <li>Pháp luật</li>
            <li>Giáo dục</li>
            <li>Sức Khỏe</li>
            <li>Đời sống</li>
            <li>Du Lịch</li>
            <li>Số Hóa</li>
            <li>Xe</li>
            <li>Ý kiến</li>
            <li>Tâm sự</li>
            <li>Thư giãn</li>
            <li class="Hamburger_Menu">
                <img src="~/Image/hamburger-menu-icon.png"  width="20" height="20" />
            </li>

        </ul>
    </nav>
    <hr />
    <section class="top_story">
        <div class="container">
            <article class="a">
                <div class="main_paper">
                    <img src="~/Image/Screenshot 2024-02-28 134254.png" width="600" height="350" />
                    <div class="thumbnail">
                        <h2 class="Title_news">Loạt Nước Phương tây bác khả năng đưa quân đến Ukaraine</h2>
                        <p class="description">Mỹ và nhiều đồng minh châu Âu cho biết không có kế hoạch đưa quân đến Ukraine, sau khi Tổng thống Pháp Macron gợi ý về khả năng này.</p>
                        <p>"Sẽ không có chuyện các nước châu Âu hoặc quốc gia thành viên Nato đưa binh sĩ đến lãnh thổ Ukraine"</p>
                    </div>
                </div>
                <hr style="width:75%;" />
            </article>

        </div>
        <div class="container_b">
            <article class="b">
                <div class="main_paper_b">
                    <div class="chaygara">
                        <h3 class="Title_news_b">Cháy gara ở Cần Thơ, nhiều ô tô bị thiêu rụi</h3>
                        <img src="~/Image/Screenshot 2024-02-29 113252.png"  width="300" height="150" />
                    </div>
                    <div class="wifi">
                        <h3>Hàng nhìn mật khẩu wifi bị thu thập bằng thiết bị tự chế</h3>
                        <img src="~/Image/wifi.png" width="300" height="150" />
                    </div>
                    <div class="gocnhin">
                        <p style="color:purple; font-family:Arial; font-weight: bold;">Góc nhìn</p>
                        <h3>Lái ô tô bằng thói quen xe máy</h3>
                        <p>Nhiều lái xe đi oto trên cao tốc nhưng hành xử như đang điều khiển xe máy trong nội đô.</p>
                        <div class="koxuongdong">
                            <p class="tothuc">Tô Thức</p>
                            <img src="~/Image/toThuc.png"  alt="To Thuc's Image" />
                        </div>

                    </div>

                </div>
                <hr style="width:75%;" />
            </article>
        </div>
    </section>

    <section>
        <div class="coitainer_c">
            <article class="c">
                <div class="main_paper_c">
                    <div class="alltaisao">
                        <h3>Tại sao tỷ giá 'chạy' khác mọi năm ?</h3>
                        <div class="taisao">
                            <img src="~/Image/tygia.png" height="120" />
                            <p style="margin-left:20px;">Tỷ giá thường ổn định đầu năm nhờ kiều hối và FDI, nhưng năm nay, USD bất ngờ nổi sóng, tăng 1,76% trong chưa tới ba tháng.</p>
                            <div class="vertical-line"></div>
                        </div>

                    </div>
                    <div class="hr-line"></div>
                </div>
            </article>
        </div>
    </section>

</body>
</html>

