﻿body .empty {
    background-color: whitesmoke;
    height: 200px
}

body .top_bar {
    background-color: white;
    color: black;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.main_bar {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}


.content_left {
    display: flex;
    align-items: center;
    font-family: Arial;
    gap: 10px;
}

body .content_center {
    display: flex;
    margin-left: 150px;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
    font-family: Arial;
    gap: 10px;
}



.icon {
    font-size: 20px;
    color: #333;
}

#search {
    border: 1px solid #333;
    padding: 5px;
}

/*second bar*/

body .main-nav {
    display: flex;
    padding-left: 100px;
}

    body .main-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;
    }

    body .main-nav li:hover {
        color: red;
        cursor: pointer;
        font-family: Arial;
    }

body .Home_btn {
    background-color: whitesmoke;
    border: 5px none;
    border-radius: 50%;
    cursor: pointer;
}

    body .Home_btn img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: block;
    }


    body .Home_btn:hover {
        background-color: dimgray;
    }


.top_story {
    padding: 0; /* Khoảng cách xung quanh phần top_story */
}

.container {
    display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử bên trong */
    align-items: center; /* Căn giữa theo chiều dọc */
    flex-wrap: nowrap;
}

.main_paper {
    display: flex; /* Sử dụng flexbox để căn chỉnh hình ảnh và nội dung bên trong */
    align-items: center; /* Căn giữa theo chiều dọc */
}

    .main_paper img {
        margin-right: 20px; /* Khoảng cách giữa hình ảnh và nội dung */
    }

.thumbnail {
    padding-right: 600px;
    margin-bottom: 100px;
}

.Title_news {
}

.a {
    margin-left: 240px;
    margin-right: 200px;
}



.chaygara {
    width: 15%;
    margin-left: 240px;
    text-align: justify;
}

.main_paper_b {
    display: flex;
    flex-wrap: nowrap;
}

.wifi {
    margin-left: 40px;
    width: 15%;
    text-align: justify;
}

.gocnhin {
    margin-left: 40px;
    width: 11%;
}

.koxuongdong {
    display: flex;
    flex-wrap: nowrap;
}

.tothuc {
    margin-right: 60px;
}





.taisao {
    display: flex; /* Sử dụng flexbox để căn chỉnh hình ảnh và nội dung bên trong */
    width: 30%;
    flex-wrap: nowrap;
}

.alltaisao {
    margin-left: 240px;
    text-align: justify;
}

.vertical-line {
    height: 150px; /* Chiều cao của đường kẻ dọc */
    width: 1px; /* Chiều rộng của đường kẻ dọc */
    background-color: gray; /* Màu sắc của đường kẻ dọc */
    margin-left: 40px; /* Khoảng cách giữa đường kẻ và nội dung bên phải */
    display: inline-block; /* Để nó không làm thay đổi chiều cao của hàng */
}



.hr-line {
    border-top: 1px solid gray; /* Màu và độ dày của đường kẻ ngang */
    margin: 0 0; /* Khoảng cách trên và dưới đường kẻ ngang */
    margin-right: 1130px;
    margin-left: 240px;
}
